{% load static %}
<html>
    <head>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}"/>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!--
        <meta charset="utf-8">
        <title>Responsive NavBar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
        -->

    </head>

    <body>

       <!-- Image and text -->
       <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'myapp:products' %}">
        <img src="{% static 'myapp/booklist.svg' %}" width="40" height="40" class="d-inline-block align-top" alt="logo">
        E-Commerce Book Store
        </a>
        <div class="topnav">
            <a class="active" href=""></a>
            <a href=""></a>
            <a href=""></a>
            <form action='search'> 
                <input type="text" name='search' placeholder="Search.." size="20">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            
             <!-- <a class="fa fa-search" href="{% url 'myapp:search' %}"> </a>  -->
             <!-- <input type="text" placeholder="Search.."> -->
        </div>
        <div class="usrdsply">
        Hello {{request.user.first_name}}
        </div>
        <div class="menu_bar">
            <ul>
                <li class="activebar"><a href="{% url 'myapp:products' %}"><i  class="fa fa-home fa-fw" aria-hidden="false"></i>Home </a> </li>
                <li><a href="{% url 'cartmgmt:cart' %}"><i class="fa fa-shopping-cart fa-fe" aria-hidden="false"></i>Cart</a></li>
                <li><a href=""><i class="fa fa-bars" aria-hidden="false"></i>More </a> 
                    <div class="sub-menu">
                        <ul>
                            
                            
                            
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'account:user_details' %}"><i class="fa fa-user-circle"></i>{{request.user}}</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i>Settings</a></li>
                            <li><a href="#"><i class="fa fa-qrcode"></i>Dashboard</a></li>
                            <li><a href="{% url 'account:logout' %}"><i class="fa fa-sign-out"></i>SignOut</a></li>
                            {% else %}
                            <li><a href="{% url 'account:login' %}"><i class="fa fa-sign-in"></i>SignIn</a></li>
                            {% endif %}
                            <li><a href="#"><i class="fa fa-link"></i>Shortcuts</a></li>
                            <li><a href="{% url 'account:contactus' %}"><i class="fa fa-envelope"></i>Contact</a></li>
                            
                        </ul>
                
                    </div>
                </li>
            </ul>
        </div>
        
        </nav>
        <!--
        <div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a  href="{% url 'myapp:products' %}"><i  class="fa fa-home fa-fw" aria-hidden="false"></i>Home </a>
            <a href=""><i class="fa fa-shopping-cart fa-fe" aria-hidden="false"></i> Cart </a>
            <a href=""><i class="fa fa-bars" aria-hidden="false"></i> </a>
            <div>
                <input type="checkbox" id="check">
                <label for="check">
                    <i class="fas fa-bars" id="btn"></i>
                    <i class="fas fa-times" id="cancel"></i>
                </label>
                <div class="sidebar">
                    <header>E-Commerce Book Store</header>
                    <ul>
                        <li><a href="#"><i class="fa fa-qrcode"></i>Dashboard</a></li>
                        <li><a href="#"><i class="fa fa-link"></i>Shortcuts</a></li>
                        <li><a href="#"><i class="fa fa-stream"></i>Overview</a></li>
                        <li><a href="#"><i class="fa fa-sliders-h"></i>Services</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i>Contact</a></li>
                    </ul>
                </div>

                <section></section>
            </div>
        </div>
        -->

        
        <!--  
        <div class="rightnav">
            <ul>
                <li><a class="active" href=""> Home </a></li>
                <li><a href=""> Settings </a></li>
                <li><a href=""> Profile </a></li>
                <li><a href=""> Logout </a></li>
                <li><a href=""> ContactUs </a></li>
            </ul>
        -->

        <!-- buttons for navigation bar 
        <button class="btn"><i class="fa fa-home"></i> Home</button>
        <button class="btn"><i class="fa fa-bars"></i> Menu</button>
        <button class="btn"><i class="fa fa-trash"></i> Trash</button>
        <button class="btn"><i class="fa fa-close"></i> Close</button>
        <button class="btn"><i class="fa fa-folder"></i> Folder</button>
        -->
        
        
        
        {% block body %}

        {% endblock %}
        
    </body>

</html>