{% extends 'myapp/base.html' %}

<html>
    <head>
        

    </head>
    <body>
        {% block body %}
        <h2>Cart Page </h2> 
        

        <table class="Table">
            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            {% for book in books %}
            <tbody>
                <tr>
                    <td>Sno.</td>
                    <td>{{book.Name}}</td>
                    <td>{{book.Price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </body>

</html>