{% extends 'myapp/base.html' %}

{% load cart %}
<html>
    <head>
    
        

    </head>
    <body>
        {% block body %}
        

        <div class="container">
            <div class="border-rounded p-4 m-4">
                {% if books %}
                <p class="display-4 pl-4 ml-4">Your Cart</p>
                <hr>
                <table class="Table" >
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>Book Name</th>
                            
                            <th>Quantity</th>
                            
                            <th> </th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    {% for book in books %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'myapp:proddetail' book.Name %}"><img style="height: 80px; width: 60px" class="" src="{{book.image.url}}" alt=""></a> </td>
                            <td>{{book.Name}}</td>
                            
                            
                            <td>
                                <form action='inc_dec', method="POST">
                                    {% csrf_token %}
                                <div class="row no-gutters" >
                                    
                                    <input hidden type="text" value="{{book.id}}" name="bookid">
                                    <input style="height:25px; width: 25px; border-radius: 50%;" type="submit" value="-" name="dec" class="btn btn-block btn-secondary">
                                    
                                    <label for="qty"> {{book|cart_quantity:request.session.cart}} </label>
                                     
                                    <input style="height:25px; width: 25px; border-radius: 50%;" type="submit" value="+" name="inc" class="btn btn-block btn-secondary">
                                    
                                </div>
                                </form>
                            </td>
                            
                            <td><form action='remove_item', method="POST">
                                {% csrf_token %}
                                <input hidden type="text" value="{{book.id}}" name="bookid">
                                
                                <button type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                            <td><b>₹{{book.Price}}/-</b></td>
                            <td><b>₹{{book|book_total:request.session.cart}}/-</b></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                    <tfoot>
                        
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="2">Total</th>
                            <th><b>₹{{books|total_cart_price:request.session.cart}}/-</b></th>
                            
                        </tr>
                    </tfoot>
                </table>
                <hr>
                <div class="m-3 p-3">
                    <a href="{% url 'paymentgateway:card' %}" class="btn btn-outline-info border-rounded col-lg-3 float-right">CheckOut</a>
                </div>
                {% else %}
                <h4> There are no items in your cart!!</h4>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </body>

</html>