{% extends 'myapp/index.html' %}

<html>
    <head>
        
        

    </head>
    <body>
        {% block body %}
        <div id="registerr">
            <form  action="register_user" method="POST" autocomplete="on">
            {% csrf_token %}
                <h1> Sign up </h1> 
                <p> 
                    <label for="username" class="uname" data-icon="u">Your username</label> <br>
                    <input id="username" name="username" required="required" type="text" placeholder="mysuperusername690" />
                </p>
                <p> 
                    <label for="email" class="youmail" data-icon="e" > Your email</label> <br>
                    <input id="email" name="email" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                </p>
                <p> 
                    <label for="password" class="youpasswd" data-icon="p">Your password </label> <br>
                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
                </p>
                <p> 
                    <label for="password_confirm" class="youpasswd" data-icon="p">Please confirm your password </label> <br>
                    <input id="password_confirm" name="password_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                </p>
                <p class="signin button"> 
                    <input type="submit" value="Sign up"/> 
                </p>
                <p class="change_link">  
                    Already a member ?
                    <a href="{% url 'account:login' %}"> Go and log in </a>
                </p>
            </form>
        </div>
                
        {% endblock %}    
        
        
    </body>

</html>