body{
    background-color:lightgray; 
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

form button{
    border:0;
    background:none;
    /*And other css to remove the default button property */    
}

.menu_bar a{
    color: lightgray;
}

.fa-search{
    color: lightgray;
}

.menu_bar ul{
    display: inline-flex;
    list-style: none;   
}

.menu_bar ul li{
    width: 75px;   
}

.activebar ,.menu_bar ul li:hover{
    border-radius: 3px;  
}

.menu_bar .fa{
    margin-right: 8px;
}

.sub-menu{
    display: none;
}


.menu_bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: rgb(55, 59, 59);
    margin-top: 15px;
    margin-left: -20px;
}

.menu_bar ul li:hover .sub-menu ul{
    display: block;
    
}

.menu_bar ul li:hover .sub-menu ul li{
    width: 130px;
    padding: 8px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu_bar ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}

